<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StoreMenegment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="hederi border-bottom">
            <div @*class="container1"*@>

                <div class="navbar d-sm-inline-flex">

                    @await Component.InvokeAsync("Menu", new { shoList = true })
                    <div>

                        @await Component.InvokeAsync("Language", new { shoList = true })

                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
            @*<partial name="_LoginPartial" />*@
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @await Component.InvokeAsync("Futer", new { shoList = true })
            @*&copy; 2021 - StoreMenegment1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
